openai
openai==0.28
telethon
websocket-client
requests
tls-client
pypasser
names
colorama
curl_cffi
streamlit
selenium
fake-useragent
twocaptcha
pydantic
pymailtm
Levenshtein
retrying
pycryptodome
random-password-generator
numpy
tornado
PyExecJS
browser_cookie3
aiohttp
flask
flask-core
flask-cors
browser_cookie3
googletrans
gevent
python-dotenv
asyncio