aiohttp==3.11.13
browser_cookie3==0.20.1
certifi==2025.1.31
curl_cffi==0.10.0
customtkinter==5.2.2
Flask==3.1.0
flask_cors==5.0.1
gevent==24.11.1
googletrans==4.0.2
openai==0.28.0
pyexecjs==1.5.1
python-dotenv==1.1.0
Requests==2.32.3
setuptools==76.0.0
soundfile==0.13.1
Telethon==1.39.0
vosk==0.3.45
websockets==15.0.1